@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);
body {
  background: #f9f9f9;
  font-family: "roboto", sans-serif;
  border-radius: 25px;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #fa800e;
  border-radius: 25px;
}

.button1:hover {
  background-color: #da700e;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #cc0000;
  border-radius: 25px;
}

.button2:hover {
  background-color: #cc0000;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  border-radius: 25px;
}

.button3:hover {
  background-color: #008cba;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #23880f;
  border-radius: 25px;
}

.button4:hover {
  background-color: #23880f;
}

.main-content {
  margin: 50px auto;
  padding: 50px;
  max-width: 1350px;
  background: #fff;
  -webkit-box-shadow: 0 20px 100px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 100px -15px rgba(0, 0, 0, 0.1);
}

.page-title {
  font-size: 45px;
  margin: 0 auto 80px auto;
}

.page-title:after {
  content: "";
  width: 110px;
  height: 4px;
  background: #b0c20a;
  display: block;
  margin: 15px auto 0 auto;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-card {
  background: #fff;
  -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

.profile-card .profile-card_cover {
  height: 130px;
  overflow: hidden;
}

.profile-card .profile-card_cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-card .profile-card_padding {
  padding: 25px;
  position: relative;
  margin-top: -85px;
}

.profile-card .profile-card_image {
  width: 125px;
  height: 125px;
  border-radius: 125px;
  overflow: hidden;
  border: 4px solid #fff;
  margin: 0 auto 15px auto;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-card_image img {
  width: 125px;
  height: 125px;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-card .profile-card_details h3 {
  font-size: 21px;
}

.profile-card .profile-card_details p {
  font-size: 16px;
  margin-bottom: 15px;
}

.profile-card .profile-card_social {
  text-align: center;
}

.profile-card .profile-card_social a {
  display: inline-block;
}

.profile-card .profile-card_social img {
  width: 33px;
  margin: 5px 10px;
}
