<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!----======== CSS ======== -->
  <link rel="stylesheet" href="/css/styleAdmin.css">

  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png">
  <link rel="icon" type="image/png" href="/images/loader.png">
  <title>
    Admin Page Dashboard || SOVS
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />



  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <style>
    .inner-banner {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  </style>

</head>

<body>



  <nav class="sidebar close toggleover"
    style="background-image: url(../images/background/inner-banner-bg.jpg); box-shadow: 0 1rem 3rem rgba(0, 0, 255, 0.975)!important;">
    <!-- <div class="toggleover"> -->
    <header>
      <div class="image-text">
        <span class="image" style="height: 110px;">
          <!-- <img src="/images/loader.png" alt="" height="80px" width="80px"> -->
        </span>
        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <li class="search-box" style="visibility: hidden">
        </li>
        <ul class="menu-links">
          <li class="nav-link">
            <!-- Attach thymeleaf -->
            <a th:href="@{'/admin/'}">
              <i class='bx bx-home-alt icon' title="Dashboard"></i>
              <span class="text nav-text" title="Dashboard">Dashboard</span>
            </a>
          </li>
          <li class="nav-link">
            <a th:href="@{'/admin/users'}">
              <i class='bx bxs-user-detail icon' title="Database Part"></i>
              <span class="text nav-text" title="Database Part">List of Users</span>
            </a>
          </li>
          <li class="nav-link">
            <a th:href="@{'/admin/pendingrequest'}">
              <i class='bx bx-hourglass icon' title="Pending Request"></i>
              <span class="text nav-text" title="Pending Request">Pending requests</span>
            </a>
          </li>
          <li class="nav-link">
            <a class="nav-link text-white " th:href="@{'/admin/notifications'}">
              <i class='bx bx-bell icon' title="Notification"></i>
              <span class="text nav-text" title="Notification">Notifications</span>
            </a>
          </li>
          <li class="nav-link">
            <a th:href="@{'/admin/candidates'}">
              <i class='bx bx-user-plus icon' title="Candidate"></i>


              <span class="text nav-text" title=" Candidate Register" style="font-size:1rem;">
                Candidate Register
              </span>
            </a>
          </li>
          <li class="nav-link">
            <a th:href="@{'/admin/candidatelist'}">
              <i class='bx bx-user icon' style='font-size:18px;'></i>

              <span class="text nav-text" title="List of candidates">List of candidates</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="bottom-content">
        <li class="">
          <a th:href="@{'/logout'}">
            <i class='bx bx-log-out icon' title="Logout"></i>
            <span class="text nav-text" title="Logout">Logout</span>
          </a>
        </li>
      </div>
    </div>
    <!-- </div> -->

  </nav>






  <section class="home">

    <header class="site-header site-header__header-one">

      <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
        <div class="container clearfix">


          <div class="logo-box clearfix">
            <a class="navbar-brand" th:href="@{'/index'}">
              <img src="/images/loader.png" class="main-logo" width="80" alt="Awesome image" />
            </a>
            <button class="menu-toggler" data-target=".main-navigation">
              <span class="fa fa-bars"></span>
            </button>
          </div>




          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="main-navigation">
            <ul class="navigation-box" style="text-align: left;">
              <li class="current" style="margin-left: 150px">
                <a th:href="@{/index}">Home</a>
                <!-- /.sub-menu -->
              </li>
              <li>
                <a href="about.html">About</a>
                <ul class="sub-menu">
                  <li><a href="about.html">About Us</a></li>
                </ul>
                <!-- /.sub-menu -->
              </li>

              <li>
                <a th:href="@{/public/home/faceverification}">Vote</a>
                <!-- /.sub-menu -->
              </li>

              <li>
                <a href="#news">News</a>
                <ul class="sub-menu">
                  <li><a th:href="@{'/news'}">News Page</a></li>
                  <!-- <li><a href="news-details.html">News Details</a></li> -->
                </ul>
                <!-- /.sub-menu -->
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
              <!-- Shows Username -->
              <li style="margin-left: 100px;">
                <a href="#">
                  Welcome
                  <span href="#" style="
                      margin-right: 10px;
                      margin-top: 10px;
                      font-weight: bolder;
                    ">Admin&nbsp</span>
                  <!-- Shows Photo -->
                  <img src="https://vitalistore.com/wp-content/uploads/2021/10/009_L.jpg" alt="Avatar"
                    style="width: 50px; border-radius: 60%" />
                </a>
                <!-- /.sub-menu -->
              </li>
            </ul>
          </div>
          <!-- /.right-side-box -->
        </div>
        <!-- /.container -->
      </nav>
    </header>
    <section class="inner-banner">
      <div class="container">
        <h2 class="inner-banner__title">Dashboard</h2>
        <!-- /.inner-banner__title -->
        <ul class="list-unstyled thm-breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Dashboard</li>
        </ul>
        <!-- /.list-unstyled -->
      </div>
      <!-- Shows Success Message -->
    </section>


    <div class="" style="margin :10px 10%;">
      <!--items of Right Side to be included here-->
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 mt-4 mb-4 ">

          <a th:href="@{'/admin/startVote'}"><button type="submit"
              class="card thm-btn static-banner-one__form-btn shadow-success border-radius-xl"
              style=" text-align: center;">Start Voting</button>
          </a>

        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 mt-4 mb-4 ">
          <a th:href="@{'/admin/restartVote'}">
            <button type="submit" class="thm-btn static-banner-one__form-btn shadow-success border-radius-xl">Restart
              Voting</button>
          </a>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 mt-4 mb-4 ">
          <a th:href="@{'/admin/endVote'}">
            <button type="submit" class="thm-btn static-banner-one__form-btn shadow-success border-radius-xl">Finish
              Voting</button>
          </a>
        </div>
      </div>
    </div>

    <br>


    <div class="row" style="margin:0 5px">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">person</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Total Registration</p>
              <h4 class="mb-0" th:text="${usercount}"></h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <!-- <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+2%</span> than last Month</p> -->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">person</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Total Vote Casted</p>
              <h4 class="mb-0" th:text="${votecount}"></h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <!-- <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than last Hour</p> -->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">weekend</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Remaining Votes</p>
              <h4 class="mb-0" th:text="${remainingcount}"></h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <!-- <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than yesterday</p> -->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">weekend</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Pending Requests</p>
              <h4 class="mb-0" th:text="${pendingcount}"></h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <!-- <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than lask week</p> -->
          </div>
        </div>
      </div>

    </div>





    <div class="row mt-4">

      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2  ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 ">Registered Candidates</h6>
            <p class="text-sm "> (<span class="font-weight-bolder">+15%</span>) increases in last Month </p>
            <hr class="dark horizontal">
            <div class="d-flex ">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm"> updated 12 hours ago </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2 ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 ">Vote Casted Per Hour</h6>
            <p class="text-sm ">Election Commision of India</p>
            <hr class="dark horizontal">
            <div class="d-flex ">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm"> Updated 30 Seconds ago </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mb-3">
        <div class="card z-index-2 ">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
              <div class="chart">
                <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-0 ">Completed Tasks</h6>
            <p class="text-sm ">Last Campaign Performance</p>
            <hr class="dark horizontal">
            <div class="d-flex ">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm">just updated</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="/js/scriptadmin.js"></script>


    <!--   Core JS Files   -->
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/js/plugins/chartjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <script>
      var userCount = [0];
      var pendingCount = [0, 0, 0, 0, 0, 0];
      var voteCount = [0, 0, 0, 0, 0, 0];

      // localStorage.removeItem("userC");
      if (localStorage.getItem("userC") != null)
        userCount.push (localStorage.getItem("userC"));


      var ctx = document.getElementById("chart-bars").getContext("2d");

      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["10", "11", "12", "13", "14", "15", "16"],
          datasets: [{
            label: "Votes",
            tension: 0.4,
            borderWidth: 0,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "rgba(255, 255, 255, .8)",
            data: userCount,
            maxBarThickness: 6,
          }, ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
              },
              ticks: {
                suggestedMin: 0,
                suggestedMax: 500,
                beginAtZero: true,
                padding: 10,
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
                color: "#fff"
              },
            },
            x: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
              },
              ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 10,
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });


      var ctx2 = document.getElementById("chart-line").getContext("2d");

      new Chart(ctx2, {
        type: "line",
        data: {
          labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: "Registered Candidates",
            tension: 0,
            borderWidth: 0,
            pointRadius: 5,
            pointBackgroundColor: "rgba(255, 255, 255, .8)",
            pointBorderColor: "transparent",
            borderColor: "rgba(255, 255, 255, .8)",
            borderColor: "rgba(255, 255, 255, .8)",
            borderWidth: 4,
            backgroundColor: "transparent",
            fill: true,
            data: userCount,
            // data: [50, 40, 300, 320, 500, 350, 700, 630, 900],
            maxBarThickness: 6

          }],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
              },
              ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 10,
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 10,
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });

      var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

      new Chart(ctx3, {
        type: "line",
        data: {
          labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: "Mobile apps",
            tension: 0,
            borderWidth: 0,
            pointRadius: 5,
            pointBackgroundColor: "rgba(255, 255, 255, .8)",
            pointBorderColor: "transparent",
            borderColor: "rgba(255, 255, 255, .8)",
            borderWidth: 4,
            backgroundColor: "transparent",
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          }],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: 'rgba(255, 255, 255, .2)'
              },
              ticks: {
                display: true,
                padding: 10,
                color: '#f8f9fa',
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                color: '#f8f9fa',
                padding: 10,
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });


      function getData() {
        fetch('/getGraphData')
          .then(response => response.json())
          .then(data => {
            console.log(data)
            
            // pendingCount.shift()
            // voteCount.shift()
            console.log(typeof(Number(data['0'])));
           
            var ucount =[];
            ucount.push(Number(data['0']));
            pendingCount.push(Number(data['1']))
            voteCount.push(data['2'])
            // quote.innerHTML=`"${data.content}"`
            // author.innerHTML=data.authorlocalStorage.setItem 
            //localStorage.removeItem("userC");
            
            localStorage.setItem("userC", ucount)
            localStorage.setItem("pendingCount", pendingCount)
            localStorage.setItem("voteCount", voteCount)

          })
      }

      setInterval(getData, 10000);
    </script>

    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/js/material-dashboard.min.js?v=3.0.0"></script>









</body>

</html>