<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Password || SOVS</title>
    <link rel="apple-touch-icon" sizes="180x180" href=" /images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href=" /images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href=" /images/favicons/favicon-16x16.png" />
    <link rel="manifest" href=" /images/favicons/site.webmanifest" />

    <!-- plugin scripts -->

    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,800,900%7CLibre+Baskerville:400,700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/swiper.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/plugins/potisen-icons/style.css" />
    <link rel="stylesheet" href="/css/vegas.min.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>


     <!-- This page opens new page for New Password -->



    <div class="page-wrapper">
    <header class="site-header site-header__header-one">
      <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="logo-box clearfix">
                <a class="navbar-brand" href="index.html">
                    <img src="/images/logo-dark.png" class="main-logo" width="177" alt="Awesome Image" />
                </a>
                <button class="menu-toggler" data-target=".main-navigation">
                <span class="fa fa-bars"></span>
                </button>
            </div>
            <!-- /.logo-box -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="main-navigation">
                <ul class="navigation-box">
                    <li>
                        <a th:href="@{'/index'}">Home</a>

                        <!-- /.sub-menu -->
                    </li>
                    <li>
                        <a href="about.html">About</a>

                        <!-- /.sub-menu -->
                    </li>
                    <li>
                        <a href="donation.html">Contribute</a>

                        <!-- /.sub-menu -->
                    </li>
                    <li>
                        <a href="#">Pages</a>

                        <!-- /.sub-menu -->
                    </li>

                    <li>
                        <a th:href="@{'/news'}">News</a>

                        <!-- /.sub-menu -->
                    </li>
                    <li class="current">
                        <a th:href="@{'/contact'}">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <div class="right-side-box">
                <div class="header-social">
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-facebook-square"></a>
                    <a href="#" class="fa fa-pinterest-p"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
                <!-- /.header-social -->
            </div>
            <!-- /.right-side-box -->
        </div>
        <!-- /.container -->
    </nav>
</header>
  <section class="inner-banner"  style="padding-top: 50px; padding-bottom: 50px;">
    <div class="container">
        <h2 class="inner-banner__title" style="padding-top: 50px; padding-bottom: 50px;">Enter your new password</h2>
        <!-- /.inner-banner__title -->
        <ul class="list-unstyled thm-breadcrumb">
            <li><a href="index.html">Home</a></li>
            
        </ul>
        <!-- /.list-unstyled -->
    </div>
    <!-- /.container -->
   </section>
    <div class="text-center contact-form-one" style="padding-top: 50px;">
      <form action="" th:action="@{'/forgotpassword/newpassword'}" method="post" class="contact-form-one__form    contact-form-validated">
        
        <input type="text" name="password" style="width: 700px; margin:auto; "  placeholder="Enter your new password (Must be atleast 8 characters)"/>
        <button type="submit" class="thm-btn contact-form-one__btn" style="margin-top:50px">Click to change</button>
      </form>
    </div>
  </div>
  </body>
</html>
