.hover
  .background
    .door 403
    .rug
  .foreground
    .bouncer
      .head
        .neck
        .eye.left
        .eye.right
        .ear
      .body
      .arm
    .poles
      .pole.left
      .pole.right
      .rope